<div class="modal fade" id="failed-modal" tabindex="-1" aria-labelledby="failed-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content d-flex flex-column text-black">
      <div class="modal-header">
        <h5 class="modal-title" id="failed-modal-label"></h5>
      </div>
      <div class="modal-body">Try again.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Dismiss</button>
      </div>
    </div>
  </div>
</div>