{{#each recipes as |recipe|}}
<div class="p-3">
    <a href="/recipes/{{recipe.id}}" class="text-decoration-none">
    <button class="pointer">
        <div class="card card border border-5 border-light col bg-key-lime p-0">
            <div class="card-body p-0">
                <div class="d-flex align-items-center justify-content-center position-relative">
                <img src="{{#if recipe.image_path}}{{recipe.image_path}}{{else}}/recipe-images/default.svg{{/if}}" class="w-100" alt="Image of current recipe">
                {{#unless recipe.image_path}}<p class="fs-1 fw-semibold position-absolute text-black py-2 px-4 bg-white rounded-2 bg-opacity-50">No Image</p>{{/unless}}
                </div>
            </div>
        <div class="card-header bg-phthalo-green text-white text-center">
            <h5 class="card-title">{{recipe.recipe_title}}</h5>
            </div>
        </div>
        </a>
    </button> 
</div>
  {{/each}}