<div>
    <h2 class="display-1 py-1 px-4 mt-2 text-center">All Recipes</h2>
    <p class="text-center fs-3 p-1">Enjoy other recipes submitted by our users. Make sure to mark your recipe "Public" when submitting if you would like to share your recipe with everyone.</p>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100">
    {{>recipeCard}}
</div>