<div class="hero rounded mx-1 my-3 d-flex flex-column align-items-center">
    <h2 class="display-1">Welcome!</h2>
    <p class="text-center fs-3">JOIN Our Table is a collaborative effort between developers to share their favorite recipes with their colleagues. Please feel free to create an account and add your own recipes!</p>
    <p class="text-center fs-3">Designed and developed by:<br> 
    Daniel Stewart <br> 
    Zachary Warnes <br>
    Ashton Moore <br>
    Niklas Solomon</p>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-col-xl-4">
{{>recipeCard}}
</div>