<div class="hero border border-5 rounded mx-1 my-3 d-flex flex-column align-items-center">
    <h2 class="display-1 text-background py-1 px-4 rounded mt-2">Welcome!</h2>
    <p class="text-center fs-3 text-background p-1">JOIN Our Table is a collaborative effort between developers to share their favorite recipes with their colleagues. Please feel free to create an account and add your own recipes!</p>
    <p class="text-center fs-3 text-background py-1 px-4 rounded">Designed and developed by:<br> 
    <a href="https://github.com/danielstewart914" class="text-white">Daniel Stewart</a><br> 
    <a href="https://github.com/ZacharyWarnes" class="text-white">Zachary Warnes</a> <br>
    <a href="https://github.com/azm89" class="text-white">Ashton Moore</a> <br>
    <a href="https://github.com/NiklasSolomon" class="text-white">Niklas Solomon</a></p>
</div>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-col-xl-4">
{{>recipeCard}}
</div>