<h2>Login</h2>
<form class="login-form container">
    <div class="row justify-content-center">
        <div class="form-floating m-1 col-sm-8 col-lg-6">
            <input class="form-control" name="Email:" type="text" id="loginEmail" placeholder="Email:">
            <label class="from-label ms-3" for="loginEmail">Email:</label>
        </div>
        <div class="form-floating m-1 col-sm-8 col-lg-6">
            <input class="form-control" name="Password" type="password" id="loginPassword" placeholder="Password:">
            <label class="form-label ms-3" for="loginPassword">Password:</label>
        </div>
        <div class="form-floating m-1 col-12 text-center">
            <button class="btn btn-secondary bg-dark-grey px-5" type="submit">Login</button>
        </div>
    </div>
</form>
<footer>
    Don't have an Account?
    <a href="/signup">Sign Up Here</a>
</footer>

<script src="/js/login.js"></script>
