<h2 class="display-4">Your Recipes</h2>
<p class="text-center fs-3 p-1">Recipes you upload will display here. All recipes will display publicly by default unless marked "Private".</p>
{{#if recipes}}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100">
{{>recipeCard}}
</div>
{{else}}
<h2>You have no recipes!</h2>
{{/if}}
