<h2>Search Results: {{ingredient_name}}</h2>
{{#if recipes.length}}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100">
{{>recipeCard}}
</div>
{{else}}
<h3>No recipes with {{ingredient_name}}</h3>
{{/if}}