:root {
    --phthalo-green: #132a13ff;
    --hunter-green: #31572cff;
    --sap-green: #4f772dff;
    --asparagus: #90a955ff;
    --key-lime: #ecf39eff;
}
body {
    background-color: var(--sap-green);
}

.bg-asparagus {
    background-color: var(--asparagus);
}

.bg-phthalo-green {
    background-color: var(--phthalo-green);
}

.bg-key-lime {
    background-color: var(--key-lime);
}

.pre-line {
    white-space: pre-line;
}

.brand {
    font-size: 1em;
}

.btn-custom {
    background-color: var(--phthalo-green);
    color: #fff;
}

.btn-custom:hover, .btn-nav:focus {
    background-color: var(--sap-green);
    color: #fff; 
}